#carbonads {
  background-color: $foreground;
  bottom: 0;
  display: block;
  font-size: 1.1rem;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  margin-left: -1rem;
  max-width: calc(310px - 3rem);
  overflow: hidden;
  padding: 2rem 0;
  position: fixed;

  a {
    border-bottom: 0;
    color: $brandMain;

    &:hover {
      color: darken($brandMain, 15%)
    }
  }

  span {
    display: block;
    overflow: hidden;
    position: relative;
  }

  .carbon-img {
    float: left;
    margin-right: 1rem;

    img {
      border: 0;
      display: block;
      max-width: 130px;
    }
  }

  .carbon-poweredby {
    bottom: 0;
    display: block;
    font-size: 1rem;
    position: absolute;
    right: 0;
  }

  .carbon-text {
    display: block;
    float: left;
    max-width: calc(100% - 130px - 1em);
    text-align: left;
    white-space: normal;
  }
}
