html {
  background-color: $background;
  box-sizing: border-box;
  color: $defaultColor;
  font-size: 100%;
  height: 100%;
}

html, body, h1, h2, p {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $fontFamily;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100%;
  overflow: auto;
}

a {
  border-bottom: 1px solid $linkUnderline;
  color: $linkColor;
  padding-bottom: 3px;
  text-decoration: none;

  &:hover {
    border-bottom-color: darken($linkUnderline, 20%);
    color: darken($linkColor, 20%);
    cursor: pointer;
  }
}

a.btn {
  background-color: $btnBg;
  border: none;
  border-radius: 5px;
  color: $linkColor;
  font-size: 0.8em;
  line-height: 1;
  padding: 17px 25px;
  white-space: nowrap;

  & + & {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    background-color: darken($btnBg, 7.5%);
    color: darken($btnColor, 7.5%);
  }

  &.primary {
    background-color: $btnPrimaryBg;
    color: $btnPrimaryColor;

    &:hover,
    &:focus {
      background-color: darken($btnPrimaryBg, 10%);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $defaultColor;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul, ol, p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

footer {
  font-size: 0.75rem;
  margin-bottom: 2rem;
  text-align: center;

  .fa-heart {
    color: #e12e2e;
  }
}

header {
  background-color: $foreground;
  box-shadow: 0 0 1.4rem $shadow;
  padding: 0.5rem 0;
  position: relative;
  z-index: 2;

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-group {
    flex-shrink: 3;

    h1, h2 {
      margin: 0;
      vertical-align: middle;
    }

    h1 {
      font-size: 1.4rem;
    }

    h2 {
      font-size: 1rem;
    }
  }

  .header-section {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin: 0.5rem 1rem;
  }

  .header-section.logo-section {
    flex: 3 1 auto;
    justify-content: flex-start;
  }

  .header-section.mobile-menu {
    justify-content: flex-end;
  }

  .logo {
    border-right: 2px solid $defaultLiteColor;
    box-sizing: content-box;
    flex-shrink: 1;
    height: 80px;
    margin-right: 1rem;
    padding: 0 1rem 0 0;
    width: 80px;

    a {
      background: url(/assets/img/lodash.svg) no-repeat;
      background-size: contain;
      border: none;
      display: block;
      height: 100%;
      padding: 0;
      text-indent: -1000px;
      width: 100%;
    }
  }
}

pre, code {
  font-family: Consolas, Courier New, monospace;
}

section {
  padding: 0 2.5rem;

  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 1rem;
  }

  li + li {
    padding-top: 0.5rem;
  }
}

ul.chevron li {
  text-indent: -0.75rem;

  &:before {
    content: "\203A";
    padding-right: 0.5rem;
  }

  .highlight {
    text-indent: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: $screen-lg-max;
}

.container.main {
  background-color: $foreground;
  box-shadow: 0 4px 1.5rem -0.25rem $shadow;
  margin-bottom: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  padding-bottom: 2rem;
}

.highlight {
  background-color: $codeBg;
  color: $codeColor;
  margin: 0 -999rem;
  overflow-x: auto;
  padding: 2rem 999rem;
  position: relative;
  -webkit-overflow-scrolling: touch;

  pre {
    margin: 0;
    overflow-x: auto;
    padding: 0;
    -webkit-overflow-scrolling: touch;
  }
}
