html.docs {
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  a.anchor {
    border: none;
    color: $defaultNearColor;
    margin-right: 1rem;

    &:hover {
      color: $defaultColor;
    }
  }

  h3 {
    a {
      border-bottom: 0;
      padding-right: 0.5rem;
      visibility: hidden;
    }

    &:hover a {
      visibility: inherit;
    }
  }

  header {
    min-height: 56px;
    padding: 0;
  }

  select {
    background-color: $background;
    background-image: none;
    border: 1px solid $background;
    border-radius: 5px;
    color: $defaultColor;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;

    &:focus {
      border-color: $brandMain;
      outline: 0;
    }
  }

  .btn-repl {
    bottom: 1.5rem;
    color: $foreground;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
  }

  .container {
    max-width: 100%;
  }

  .doc-container {
    flex: 14 14 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5rem 2.5rem;
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;

    &:after {
      background: lightgrey;
      content: '';
      display: none;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all 0.5s ease;
      width: 100%;
    }

    > div > div {
      margin-bottom: 4rem;
      padding: 0.5rem 0;
      position: relative;

      h3 {
        background-color: $background;
        margin: 0 -999rem;
        padding: 2rem 999rem;
      }

      h3 + p a {
        color: #bababa;
        font-size: 0.9rem;
        margin-right: 1rem;

        &:hover {
          color: darken(#bababa, 15%);
        }
      }
    }

    h4 {
      & + ol code,
      & + ol em,
      & + p em {
        color: #3492ff;
        font-family: Consolas, Courier New, monospace;
        font-weight: 700;
      }

      & + ol {
        list-style-type: none;
        padding-left: 1rem;
      }

      & + p {
        padding-left: 1rem;
      }
    }

    .repl {
      background-color: transparent;
      margin: 0px 0px 0px calc(-75px);
      padding: 0;
      width: calc(100% + 175px);
    }
  }

  .doc-main {
    background-color: $foreground;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  .mobile-menu {
    a {
      border: none;
      color: $defaultColor;

      i {
        margin-right: 10px;
      }
    }
  }

  .search {
    position: relative;
    width: 100%;

    input {
      border: none;
      border-bottom: 2px solid $defaultLiteColor;
      font-size: 0.8rem;
      padding: 10px 0;
      text-indent: 30px;
      width: 100%;

      &:focus {
        border-bottom-color: $defaultNearColor;
        outline: none;
      }
    }

    .fa-search {
      color: #979797;
      font-size: 15px;
      left: 7px;
      position: absolute;
      top: 9px;
    }
  }

  .toc-container {
    background-color: $foreground;
    flex: none;
    height: 100%;
    overflow-y: auto;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%) translateZ(0);
    transition: all 0.5s ease;
    white-space: nowrap;
    width: calc(200px + 2.5rem);
    z-index: 1;
    -webkit-overflow-scrolling: touch;

    &.open {
      transform: none;
    }

    // Offset top to avoid page jank when the search bar loads.
    > div:first-child:not(.search):not(.react-menu-container) {
      margin-top: calc(1.5rem + 37px);
    }

    div > h2 {
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;

      code {
        font-family: $fontFamily;
      }
    }

    ul {
      border-left: 1px dashed #dcdcdc;
      margin-top: 0.5rem;

      li {
        max-height: 40px;
      }

      li a {
        border: none;
        color: $altColor;
        font-size: 0.875rem;

        &:hover {
          color: darken($altColor, 50%);
        }
      }
    }

    .empty-state {
      color: #bababa;
      margin-top: 1.5rem;
      font-size: 0.9em;
    }

    .first-heading {
      margin-top: 0;
    }

    .fa-minus-square-o, .fa-plus-square-o {
      cursor: pointer;
      font-size: 14px;
      margin-right: 0.7rem;
    }
  }

  .toc-container.open + .doc-container:after {
    display: block;
    opacity: 0.5;
  }
}
