html.home {
  div.intro {
    font-size: 1.2rem;
  }

  section {
    &:first-of-type {
      background: $codeBg;
      color: $codeColor;
    }
  }

  #download-links {
    list-style: none;
    padding: 0;

    li {
      line-height: 1.75;
      padding: 0;
    }

    .fa {
      color: $altColor;
      margin-right: 10px;
    }
  }

  #social {
    margin-bottom: 0;

    &,
    .btn-gh,
    .btn-twitter-follow,
    .btn-twitter-share {
      height: 26px;
    }

    .btn-gh {
      width: 105px;
    }

    .btn-twitter-follow {
      width: 120px;
    }

    .btn-twitter-share {
      width: 95px;
    }
  }
}
