@media (min-width: $screen-sm) {
  html.docs {
    .mobile-menu {
      display: none;
    }

    .toc-container {
      box-shadow: 0 0 0.5rem $shadow;
      flex: 3 3 0;
      height: auto;
      min-width: 300px;
      position: relative;
      transform: translateZ(0);
      transition: none;
    }
  }
}

@media (max-width: $screen-sm-max) {
  header {
    min-height: 60px;

    .logo {
      height: 60px;
      width: 60px;
    }
  }

  html.docs {
    .btn-repl {
      display: none;
    }
  }
}

@media (max-width: $screen-md-max) {
  section {
    padding: 0.8rem 1.6rem;
  }

  .container.main {
    margin: 3.2rem;
  }
}

@media (max-width: $screen-lg-max) {
  html {
    // Makes the font-size 8.75px
    // thus scaling body to 14px: 8.75px * 1.6 = 14px
    font-size: 54.6875%; // 0.625 * 14 / 16
  }
}
