@media (min-width: $screen-sm) {
  html.docs {
    .mobile-menu {
      display: none;
    }

    .toc-container {
      box-shadow: 0 0 0.5rem $shadow;
      display: block;
      flex: 3 3 0;
      height: auto;
      min-width: 300px;
      position: relative;
    }
  }
}

@media (max-width: $screen-sm-max) {
  header {
    min-height: 60px;

    .logo {
      height: 60px;
      width: 60px;
    }
  }

  html.docs {
    .btn-repl {
      display: none;
    }
  }
}

@media (max-width: $screen-md-max) {
  section {
    padding: 0.8rem 2.8rem;
  }

  .container.main {
    margin: 2rem;
  }
}

@media (max-width: $screen-lg-max) {
  html {
    // Set font-size to 8.75px so body, which is 1.6rem,
    // will scale to 14px (8.75px * 1.6 = 14px).
    font-size: 8.75px;
  }

  html.docs {
    .search input {
      font-size: 16px;
    }
  }
}
