@mixin minimal-scrollbar() {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .33);
    border: 2px solid $foreground;
    border-radius: 8px;
  }
}
