/**
 *  Variables
 */
$altColor: #797979;
$brandMain: #3492ff;
$btnBg: #cde4ff;
$btnColor: #2170cb;
$btnPrimaryBg: $brandMain;
$btnPrimaryColor: #fff;
$background: #eee;
$codeBg: #283646;
$codeColor: #ddd;
$defaultColor: #5f5f5f;
$defaultLiteColor: lighten($defaultColor, 40%);
$defaultNearColor: lighten($defaultColor, 20%);
$foreground: #fff;
$linkColor: #5572b8;
$linkUnderline: #d4d4d4;
$shadow: #9da5ab;

$fontFamily: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-sm-max: ($screen-sm - 1);
$screen-md-max: ($screen-md - 1);
$screen-lg-max: ($screen-lg - 1);
