$brandMain: {{ site.brand_color }};
$btnBg: #cde4ff;
$btnColor: #2170cb;
$btnPrimaryBg: $brandMain;
$btnPrimaryColor: #fff;
$background: #eee;
$codeBg: #283646;
$codeColor: #ddd;
$defaultColor: #5f5f5f;
$defaultLiteColor: lighten($defaultColor, 40%);
$defaultNearColor: lighten($defaultColor, 15%);
$foreground: #fff;
$linkColor: #4b71ca;
$linkUnderline: #d4d4d4;
$shadow: #9da5ab;

// Dark mode variables
$darkBackground: #1a1a1a;
$darkForeground: #2d2d2d;
$darkCodeBg: #1e1e1e;
$darkCodeColor: #d4d4d4;
$darkDefaultColor: #e0e0e0;
$darkDefaultLiteColor: #888;
$darkDefaultNearColor: #b0b0b0;
$darkLinkColor: #6ba3ff;
$darkLinkUnderline: #404040;
$darkShadow: #000;
$darkBtnBg: #2d4a6b;
$darkBtnColor: #8bb3ff;

$fontFamily: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-sm-max: ($screen-sm - 1);
$screen-md-max: ($screen-md - 1);
$screen-lg-max: ($screen-lg - 1);
