---
---

/**
 *  Imports
 */
@import url('https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css');

/**
 *  Variables
 */
$actionBg: #cde3ff;
$actionColor: #3491ff;
$background: #eee;
$codeBg: #0d152a;
$codeColor: #ddd;
$defaultColor: #5f5f5f;
$defaultLiteColor: lighten($defaultColor, 40%);
$defaultNearColor: lighten($defaultColor, 20%);
$foreground: #fff;
$linkColor: #5572b8;
$shadow: #9da5ab;

$fontFamily: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-sm-max: ($screen-sm - 1);
$screen-md-max: ($screen-md - 1);
$screen-lg-max: ($screen-lg - 1);

/**
 *  Default Styles
 */
html, body, h1, h2, p {
  margin: 0;
  padding: 0;
}

html {
  background: $background;
  color: $defaultColor;
  font-size: 100%;
  height: 100%;
}

body {
  font-family: $fontFamily;
  font-size: 1em;
  min-height: 100%;
  overflow: auto;
}

a {
  border-bottom: 1px solid $defaultLiteColor;
  color: $linkColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: $defaultNearColor;
    cursor: pointer;
  }
}

a.btn {
  background: $actionBg;
  border: none;
  border-radius: 5px;
  color: $linkColor;
  font-size: 0.8em;
  padding: 10px 25px;

  & + & {
    margin-left: 10px;
  }

  &.primary {
    background: $actionColor;
    color: $foreground;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $defaultColor;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

header {
  background: $foreground;
  box-shadow: 0 0 1.5em $shadow;
  min-height: 80px;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  z-index: 2;

  > .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo {
    border-right: 3px solid $defaultLiteColor;
    flex-shrink: 1;
    height: 80px;
    margin-right: 1rem;
    padding: 0 1rem 0 0;
    width: 80px;

    a {
      border: none;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .header-group {
    flex-shrink: 3;
    overflow: hidden;

    h1, h2 {
      margin: 0;
      vertical-align: middle;
    }

    h1 {
      font-size: 1.4em;
    }

    h2 {
      font-size: 1em;
    }
  }

  .header-section {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0.5rem 1rem;
  }

  .header-section.logo-section {
    flex: 3;
    justify-content: flex-start;
  }

  .header-section.mobile-menu {
    justify-content: flex-end;
  }
}

pre, code {
  font-family: Consolas, Courier New, monospace;
}

pre, .highlight.js {
  background: $codeBg;
  box-sizing: border-box;
  color: $codeColor;
  margin: 0 -999rem;
  overflow-x: auto;
  padding: 2rem 999rem;
  position: relative;
  transition: all 0.4s ease;
  -webkit-overflow-scrolling: touch;

  &.repl {
    background: $foreground;
    margin: 0 -36px;
    overflow-x: hidden;
    padding: 0 36px;
  }

  > pre {
    margin: 0;
    padding: 0;
  }
}

section {
  padding: 0.5rem 2.5rem;

  &.code {
    background: $codeBg;
    color: $codeColor;
  }

  &.method-header {
    background: $background;
  }

  &:not(:first) {
    margin-top: 1rem;
  }

  &:not(:last) {
    margin-bottom: 1rem;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 1rem;
  }

  li + li {
    padding-top: 0.5rem;
  }

  li pre {
    margin-bottom: 2.5rem;
    margin-top: 1rem;
  }
}

ul.chevron li {
  text-indent: -0.75rem;

  &:before {
    content: "\203A";
    padding-right: 0.5rem;
  }
}

.container {
  margin: 0 auto;
  max-width: $screen-lg-max;
}

.container.main {
  background: $foreground;
  box-shadow: 0 0 0.5em $shadow;
  margin-bottom: 2rem;
  margin-top: 2rem;
  overflow: hidden;
}

/**
 *  Homepage Styles
 */
html.home {
  pre.intro {
    font-size: 1.2em;
  }

  #download-links {
    list-style: none;
    padding: 0;

    li {
      line-height: 1.75;
      padding: 0;
    }

    .fa {
      margin-right: 10px;
    }
  }

  #social {
    margin-bottom: 0;
  }

  #social,
  #social .btn-gh,
  #social .btn-twitter-follow,
  #social .btn-twitter-share {
    height: 26px;
  }

  #social .btn-gh {
    width: 105px;
  }

  #social .btn-twitter-follow {
    width: 120px;
  }

  #social .btn-twitter-share {
    width: 95px;
  }
}

/**
 *  Documentation Styles
 */
html.docs {
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  a.anchor {
    border: 0;
    color: $defaultNearColor;
    margin-right: 1rem;

    &:hover {
      color: $defaultColor;
    }
  }

  h3 a {
    border: 0;
    color: inherit;
    display: block;
    position: relative;
    top: -2rem;

    &:hover {
      border: 0;
      color: inherit;
      cursor: default;
    }
  }

  header {
    min-height: 56px;
    padding: 0;
  }

  select {
    background-color: $background;
    background-image: none;
    border: 1px solid $background;
    border-radius: 5px;
    color: $defaultColor;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;

    &:focus {
      border-color: $actionColor;
      outline: 0;
    }
  }

  .btn-repl {
    bottom: 1.5rem;
    color: $foreground;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    transition: all 0.25s ease;
  }

  .container {
    max-width: 100%;
  }

  .doc-container {
    flex: 14 14 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5rem 2.5rem;

    &:after {
      background: lightgrey;
      content: '';
      display: none;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all 0.5s ease;
      width: 100%;
    }

    > div > div {
      margin-bottom: 5rem;
      padding: 0.5rem 0;
      position: relative;

      h3, pre {
        margin: 0 -999rem;
        padding: 2rem 999rem;
      }
    }

    div {
      &:not(:first) {
        margin-top: 1rem;
      }

      &:not(:last) {
        margin-bottom: 1rem;
      }
    }

    h3 {
      background: $background;
    }

    h4 {
      & + ol code,
      & + ol em,
      & + p em {
        color: rgb(42, 123, 255)
      }

      & + ol {
        list-style-type: none;
        padding-left: 1rem;
      }

      & + p {
        padding-left: 1rem;
      }
    }

    p > a:nth-of-type(3) {
      display: none;
    }

    pre.repl {
      background: $foreground;
    }

    pre.repl + .btn-repl {
      opacity: 0;
    }
  }

  .doc-main {
    background: $foreground;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  .mobile-menu {
    a {
      border: 0;
      color: $defaultColor;

      i {
        margin-right: 10px;
      }
    }
  }

  .search {
    position: relative;
    width: 100%;

    input {
      border: 0;
      border-bottom: 2px solid $defaultLiteColor;
      font-size: 0.8em;
      padding: 5px 0;
      text-indent: 30px;
      width: 100%;

      &:focus {
        border-bottom-color: $defaultNearColor;
        outline: none;
      }
    }

    .fa-search {
      font-size: 15px;
      left: 7px;
      position: absolute;
      top: 3px;
    }
  }

  .toc-container {
    background: $foreground;
    box-sizing: border-box;
    flex: none;
    height: 100%;
    overflow-y: auto;
    padding: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
    white-space: nowrap;
    width: calc(200px + 2.5rem);
    z-index: 1;

    &.open {
      transform: none;
    }

    > div > h2 {
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;

      code {
        font-family: $fontFamily;
      }
    }

    ul {
      border-left: 1px dotted $defaultLiteColor;
      margin-top: 0.5rem;

      li a {
        border: 0;
        color: $defaultNearColor;
        font-size: 0.8em;

        &:hover {
          color: $defaultColor;
        }

        code {
          color: $defaultNearColor;
        }
      }
    }

    .first-heading {
      margin-top: 0;
    }
  }

  .toc-container.open + .doc-container:after {
    display: block;
    opacity: 0.5;
  }
}

/**
 *  Syntax Highlighting
 */
.source.js {
  .comment {
    color: rgb(175, 175, 174);
  }

  .delimiter.method + span {
    color: rgb(109, 157, 226);
  }

  .string {
    color: rgb(74, 178, 53);
  }

  .constant.numeric,
  .modifier,
  .type {
    color: rgb(255, 233, 43);
  }
}

/**
 *  Media Queries
 */
@media (min-width: $screen-sm) {
  html.docs {
    .mobile-menu {
      display: none;
    }

    .toc-container {
      box-shadow: 0 0 0.5em $shadow;
      flex: 3 3 0;
      height: auto;
      min-width: 180px;
      position: relative;
      transform: none;
      transition: none;
    }
  }
}

@media (max-width: $screen-sm-max) {
  header {
    min-height: 60px;

    .logo {
      height: 60px;
      width: 60px;
    }
  }

  html.docs {
    .btn-repl {
      display: none;
    }
  }
}

@media (max-width: $screen-md-max) {
  section {
    padding: 0.5rem 1rem;
  }

  .container.main {
    margin: 1rem;
  }
}

@media (max-width: $screen-lg-max) {
  html {
    font-size: 12px;
  }

  .container.main {
    margin: 2rem;
  }
}
