---
---

<!doctype html>
<html lang="en" class="{{ page.id }}">
<head>
  <meta charset="utf-8">
  {% if page.description or page.id == 'home' %}
  <meta name="description" content="{{ page.description | default:site.description | escape_once }}">
  {% endif %}
  <meta name="theme-color" content="{{ site.brand_color }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="apple-touch-icon" href="/icons/apple-touch-180x180.png" sizes="180x180">
  <link rel="feed" type="application/atom+xml" href="https://github.com/lodash/lodash/commits/master.atom">
  <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
  {% assign href = '/icons/favicon-16x16.png' %}
  {% unless site.github.hostname == 'github.com' %}
    {% capture href %}{% base64 icons/favicon-16x16.png %}{% endcapture %}
  {% endunless %}
  <link rel="icon" type="image/png" href="{{ href }}" sizes="16x16">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab-16x16.svg" color="{{ site.brand_color }}">
  {% assign pageURL = page.url | remove_first:'.html' %}
  {% assign docsURL = '/docs/' | append:site.release %}
  {% if pageURL != docsURL %}
  <link rel="prerender" href="/docs/{{ site.release }}" pr="1.0">
  {% endif %}
  <link rel="stylesheet" href="/assets/css/main.css">
  <noscript>
  {% for res in site.vendor.css %}
    {% assign protocol = res.href | slice:0,6 %}
    {% if res.integrity and protocol == 'https:' %}
    <link rel="stylesheet" href="{{ res.href }}" integrity="{{ res.integrity }}" crossorigin>
    {% else %}
    <link rel="stylesheet" href="{{ res.href }}">
    {% endif %}
  {% endfor %}
  </noscript>
  <script src="/assets/js/boot.js" async></script>
</head>
<body class="layout-{{ page.layout }}">
  {{ content }}
</body>
</html>
