---
layout: base
bodyClass: 'default'
---

<header>
  <div class="container">
    <div class="header-section logo-section">
      <div class="logo">
        <a href="/"><img src="/assets/img/lodash.svg"></a>
      </div>
      <div class="header-group">
        <h1>lodash</h1>
        <h2>A modern JavaScript utility library delivering modularity, performance & extras.</h2>
      </div>
    </div>
    <div class="header-section">
      <a href="/docs/v{{ site.latestRelease }}" class="btn primary">Documentation</a>
      <a href="https://github.com/lodash/lodash/wiki/FP-Guide" class="btn">FP&nbsp;Guide</a>
    </div>
  </div>
</header>
<div class="container main">
  {{ content }}
</div>