---
layout: base
bodyClass: 'documentation'
---

<header>
  <div class="container">
    <div class="header-section logo-section">
      <div class="logo">
        <a href="/"><img src="/assets/img/lodash.svg"></a>
      </div>
      <div class="header-group">
        <h1>lodash
          <select name="version" id="version">
            <option value="" {% if page.version == null %}selected{% endif %} disabled>Version</option>
            {% for release in site.releases %}
              {% assign version = release | prepend: 'v' %}
              <option value="{{ version }}" {% if page.version == version %}selected{% endif %}>{{ version }}</option>
            {% endfor %}
          </select>
        </h1>
      </div>
    </div>
    <div class="header-section mobile-menu">
      <a href="#"><i class="fa fa-bars" aria-hidden="true"></i>Menu</a>
    </div>
  </div>
</header>
<div class="doc-main">
  {{ content }}
</div>

<script src="https://fb.me/react-15.1.0.min.js"></script>
<script src="https://fb.me/react-dom-15.1.0.min.js"></script>
<script src="/assets/js/docs.js"></script>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://embed.tonicdev.com"></script>
