---
layout: base
---

<header>
  <div class="container">
    <div class="header-section logo-section">
      <div class="logo">
        <a href="/" title="Lodash">Lodash</a>
      </div>
      <div class="header-group">
        <h1>Lodash&nbsp;
          <select id="version">
            <option value="" {% if page.version == null %}selected{% endif %} disabled>Version</option>
            {% unless site.releases contains page.version %}
              <option value="{{ page.version }}" selected>v{{ page.version }}</option>
            {% endunless %}
            {% for release in site.releases %}
              <option value="{{ release }}" {% if page.version == release %}selected{% endif %}>v{{ release }}</option>
            {% endfor %}
            <option value="1.3.1">v1.3.1</option>
          </select>
        </h1>
      </div>
    </div>
    <div class="header-section mobile-menu">
      <a href="#"><i class="fa fa-bars" aria-hidden="true"></i>Menu</a>
    </div>
  </div>
</header>
<div class="doc-main">
  {{ content }}
</div>
<script src="https://cdn.jsdelivr.net/lodash/{{ page.version }}/lodash.min.js"></script>
{% for href in site.vendor.js %}
<script src="{{ href }}"></script>
{% endfor %}
<script src="/assets/js/docs.js?v={% include BUILD_ID %}"></script>
<script src="https://embed.tonicdev.com/"></script>
